body {
  background: #111;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 30px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px #333;
}

input, button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}

.progress {
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
}

.progress div {
  height: 100%;
  background-color: #00bfff;
  width: 0%;
  transition: width 0.8s ease;
}

.bar span {
  float: left;
  margin-bottom: 5px;
}

h3 {
  margin-top: 20px;
  color: #ffd700;
}
